{% extends "layouts/baseFree.html" %}
{% from "_macros.html" import render_field %}

{% block principal %}

{% if form %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		
		<form method="post" action="/plato/set" >
		  <dl>
			  {{ render_field(form.nombre,class='form-control') }}
			  {{ render_field(form.descripcion,class='form-control') }}
			  {{ render_field(form.precio,class='form-control') }}
		  </dl>
		  <button class="btn btn-primary">Enviar</button>
		</form>
	</div>
</div>
{% endif %}
{% if info %}
<div class="row">
	<div class="col-md-10">
		{{info['status']}}
	</div>
</div>
{% endif %}


{% endblock %}
